[submodule "discord"]
	path = discord
	url = https://github.com/TheHistoryClub/discord.git
[submodule "doc"]
	path = doc
	url = https://github.com/TheHistoryClub/doc.git
[submodule "charter"]
	path = charter
	url = https://github.com/TheHistoryClub/charter.git
[submodule "signin"]
	path = signin
	url = https://github.com/TheHistoryClub/signin.git
